<gazebo reference="rplidar_frame">
  <sensor type="ray" name="rplidar_sensor">
    <pose>0 0 0 0 0 0</pose>
    <visualize>true</visualize>
    <update_rate>8</update_rate>
    <ray>
      <scan>
        <horizontal>
          <samples>360</samples>
          <resolution>1</resolution>
          <min_angle>0</min_angle>
          <max_angle>${pi*2}</max_angle>
        </horizontal>
      </scan>
      <range>
        <min>0.2</min>
        <max>6.0</max>
        <resolution>0.5</resolution>
      </range>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.01</stddev>
      </noise>
    </ray>
    <plugin name="gazebo_ros_rplidar_controller" filename="libgazebo_ros_laser.so">
      <topicName>/lidar_robot/scan</topicName>
      <frameName>/rplidar_frame</frameName>
    </plugin>
  </sensor>
</gazebo>
