<?xml version="1.0"?>
<launch>
  <arg name="file" default="$(find agri_mapper_research)/maps/prettyGoodMap.yaml"/>
  <arg name="show_output_images" value="false"/>

  <include file="$(find agri_mapper_research)/launch/tree_detector.launch">
    <arg name="show_output_images" value="$(arg show_output_images)"/>
  </include>

  <node name="map_server" pkg="map_server" type="map_server" output="screen" args="$(arg file)"/>
</launch>
