<?xml version="1.0"?>
<launch>
  <arg name="use_custom_scan_clipper" default="false"/>

  <node ns="agri_mapper" pkg="agri_mapper_base" type="scan_clipper" name="scan_clipper" if="$(arg use_custom_scan_clipper)">
    <param name="min_angle" type="double" value="45.0"/>
    <param name="max_angle" type="double" value="315.0"/>
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" ns="agri_mapper" name="laser_filter" if="$(arg use_custom_scan_clipper)">
    <rosparam command="load" file="$(find agri_mapper)/config/laser_filter_config.yaml"/>
    <remap from="scan" to="scan_clipped"/>
  </node>
</launch>
