<launch>
	<arg name="file" default="/home/prajankya/rosbags/v8/all/recording_2017-02-08-05-51-14_out.yaml" />
	<node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find agri_mapper_bringup)/config/mapper_view2.rviz" />

	<node name="map_server" pkg="map_server" type="map_server" args="$(arg file)" />

	<!-- <include file="$(find agri_mapper_research)/launch/tree_detector.launch" /> -->

</launch>
