<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/ttyACM0"/>
  <arg name="debug" default="false"/>

  <arg name="sim" default="false"/>
  <arg name="use_odom" value="true"/>
  <arg name="use_octomap" value="false"/>

  <include file="$(find agri_mapper_description)/launch/desc.launch"/>

  <!-- TODO: Call to agri_mapper_base -->

  <group if="$(arg debug)">
    <include file="$(find agri_mapper)/launch/diagnostics.launch"/>
  </group>

  <include file="$(find agri_mapper)/launch/sensors_postprocessing.launch">
    <arg name="use_odom" value="$(arg use_odom)"/>
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <include file="$(find agri_mapper)/launch/laser_processing.launch"/>

  <include file="$(find agri_mapper)/launch/hector_mapping.launch" unless="$(arg use_odom)"/>

  <group if="$(arg use_odom)">
    <include file="$(find agri_mapper)/launch/gmapping.launch" unless="$(arg use_octomap)"/>
    <include file="$(find agri_mapper_research)/launch/octomap_server.launch" if="$(arg use_octomap)"/>
  </group>

  <include file="$(find agri_mapper_research)/launch/tree_detector.launch">
    <arg name="inverse_ratio_of_resolution" value="1"/>
    <arg name="minimum_distance_between_detected_centers" value="0.01"/>
    <arg name="upper_threshold_for_canny_detector" value="200.0"/>
    <arg name="center_detection_threshold" value="100.0"/>
    <arg name="min_radius" value="0"/>
    <arg name="max_radius" value="0"/>
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <group unless="$(arg sim)">
    <include file="$(find agri_mapper_base)/launch/arduino.launch">
      <arg name="port" value="$(arg port)"/>
    </include>

    <include file="$(find agri_mapper_bringup)/launch/rplidar.launch"/>

    <include file="$(find agri_mapper_description)/launch/state_publisher.launch"/>
    <!--
        do not run state_publisher in sim mode before setting use_sim_time and playing bag for - - clock,
        which we are using in rosbag file
        -->
  </group>

  <group if="$(arg sim)">
    <include file="$(find agri_mapper)/launch/rosbag.launch">
      <arg name="play" value="true"/>
      <arg name="use_odom" value="$(arg use_odom)"/>
      <arg name="use_octomap" value="$(arg use_octomap)"/>

      <arg name="file" value="/home/prajankya/rosbags/with_trees/3M_rotate_left.bag"/>
    </include>
  </group>
</launch>
