<?xml version="1.0"?>
<launch>
  <arg name="port" default="/dev/ttyACM0" />

  <arg name="resolution" default="0.02" />

  <arg name="sim" default="false" />
  <arg name="use_odom" default="false" />
  <arg name="use_octomap" default="false" />
  <arg name="use_custom_scan_clipper" default="true" />

  <include file="$(find agri_mapper_description)/launch/desc.launch" />


  <include file="$(find agri_mapper)/launch/sensors_postprocessing.launch">
    <arg name="use_odom" value="$(arg use_odom)" />
    <arg name="sim" value="$(arg sim)" />
  </include>

  <include file="$(find agri_mapper)/launch/laser_processing.launch">
    <arg name="use_custom_scan_clipper" value="$(arg use_custom_scan_clipper)" />
  </include>

  <include file="$(find agri_mapper)/launch/hector_mapping.launch" unless="$(arg use_odom)" />

  <group unless="$(arg sim)">
    <include file="$(find agri_mapper_bringup)/launch/rplidar.launch" />

    <include file="$(find agri_mapper_description)/launch/state_publisher.launch">
      <arg name="use_odom" value="$(arg use_odom)" />
      <arg name="use_octomap" value="$(arg use_octomap)" />
    </include>
  </group>
</launch>
