<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="true" />
  <arg name="debug" default="false" />

  <arg name="sim" default="false" />

  <group if="$(arg debug)">
    <include file="$(find agri_mapper)/launch/diagnostics.launch" />
  </group>

  <include file="$(find agri_mapper_bringup)/launch/rviz.launch" if="$(arg rviz)" />

  <include file="$(find agri_mapper_research)/launch/tree_detector.launch" />

  <!-- <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" /> -->
</launch>
