<?xml version="1.0"?>
<launch>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_pub" output="screen"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_pub" output="screen"/>
  <node pkg="tf" type="static_transform_publisher" name="map_odom_tf_broadcaster" args="0 0 0 0 0 0 /map /odom 40"/>
  <!--
  <node pkg="tf" type="static_transform_publisher" name="odom_base_tf_broadcaster" args="0 0 0 0 0 0 /odom /base_link 40"/>
  -->
</launch>
