<launch>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--
		<arg name="gui" value="false" />
	-->
    <arg name="world_name" value="$(find agri_mapper_simulation)/worlds/compiled.world"/>
  </include>
</launch>
